body {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

/* NAVEGACIÓN */
.bg-success {
    background-color: #28A745 !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.card-text {
    color:#212529;
    font-size: 1.25em;
    font-weight: 300;
}

.list-group-item {
    color:#707070;
    font-weight: 300;
    line-height: 0;
}

.list-group-item.texto-chico {
    font-size:0.813em;
    line-height: 0;
}

.card-link {
    color:#707070;
    font-weight: 300;
}

.card-link:hover {
    color: #707070;
    cursor: default;
}

.card-link.verde {
    color: #28A745;
    font-size: 1.25em;
    font-weight: 500;
}

/* FORMULARIO */
.legend {
    font-size:1.313em;
    font-weight: 500px;
}

::placeholder {
    color: #707070;
    font-weight: 300;
}

button {
    font-weight: 500;
}

/* FOOTER */
footer p {
    font-weight: 300;
    color: #707070;
}